body {background-color:aliceblue; 
	color:#31E890;
	font-family: 'Libre Baskerville', serif;}

h1 {color:#A9FF34;}

h2 {color:#A9FF34;}

.nav-link {color:#8C50E8;}

table {color:grey; 
	margin-left: 2px; 
	border: 1px solid black; 
	border-spacing: 10px 2px; 
	border-collapse: separate}

th {color:fuchsia;}