body {background-color:aliceblue; 
	color:gray;
	font-family: 'Libre Baskerville', serif;}

h1 {color:#31E873;}

h2 {color:#31E873;}

.nav-link {color:#8C50E8;}

.fencer {font-style:italic;}

.listName {font-size: large}

.fancy {font-variant:small-caps;}

.gold {color:gold;}
.silver{color:silver;}
.bronze{color:#CD7F32;}

.fav {font-weight:bold;  
	color:teal;}

.fav.listName {font-variant:small-caps;}

table {color:grey; 
	margin-left: 2px; 
	border: 1px solid black; 
	border-spacing: 10px 2px; 
	border-collapse: separate}

th {color:#A34EE8;}

.resize {max-width: 25%;
	max-height: 25%;}